.home-container {
  background-image: url("../../assets/home/background-home-desktop.jpg");
  display: flex;
  align-items: center;
  background-size: cover;
  min-height: 100vh;
}
.home-content {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 15rem 5rem 0 5rem;
}
.text {
  width: 50%;
}
.home-container h2 {
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: white;
}

.home-container h1 {
  font-size: 8rem;
  text-transform: uppercase;
  margin-top: 1rem;
  letter-spacing: 0.3rem;
  color: white;
}

.home-container p {
  color: #d0d6f9;
  font-size: 1rem;
  margin-top: 1.5rem;
  line-height: 2rem;
}

.explore {
  position: relative;
}

.explore-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: white;
  color: #000;
  border-color: transparent;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: transform 0.3s ease;
}

.explore-button:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 50px #fdd);
}

/* Tablet styles */
@media (max-width: 1024px) {
  .home-container {
    background-image: url("../../assets/home/background-home-tablet.jpg");
    display: flex;
  }
  .home-content {
    display: flex;
    flex-direction: column;
    padding: 15rem 0 0 0;
    align-items: center;
    text-align: center;
  }
  .text {
    margin-bottom: 3rem;
  }
  .home-container h2 {
    font-size: 1.3rem;
    margin: 0;
  }

  .home-container h1 {
    font-size: 8rem;
    margin-bottom: 0;
  }

  .home-container p {
    font-size: 1.25rem;
  }
  .explore {
    margin: 3rem;
  }
  .explore-button {
    width: 200px;
    height: 200px;
  }
}

/* Mobile styles */
@media (max-width: 500px) {
  .home-container {
    background-image: url("../../assets/home/background-home-mobile.jpg");
  }
  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .text {
    width: fit-content;
    padding: 3rem;
  }

  .home-container h2 {
    font-size: 0.8rem;
  }

  .home-container h1 {
    font-size: 3rem;
    letter-spacing: 0.55rem;
  }

  .home-container p {
    font-size: 0.85rem;
  }
  .explore {
    margin-top: 2rem;
  }
  .explore-button {
    width: 200px;
    height: 200px;
  }
}
